.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--foreground-color);
}

.sidebarHeader {
  height: 30px;
  padding: 0 8px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarHeader > p {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.sidebarCloseBtn {
  font-size: 16px;
  color: var(--text-muted);
  transition: all 0.2s ease;
}

.sidebarCloseBtn:hover {
  color: var(--text-color);
}
