@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLOR PALETTE START */
  --bg-color: #1c1c27;
  --bg-dark-color: #19151e;
  --foreground-color: #303247;
  --text-color: #ededed;
  --text-muted: #6b6f92;
  --border-color: #212231;
  /* COLOR PALETTE END */

  --main-font-family: "Roboto", sans-serif;
  --code-font-family: "Roboto Mono", monospace;
  --sidebar-width: 200px;
}

html {
  font-family: var(--main-font-family);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark-color);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

/* Syntax highlighting colors */
.highlight-tags {
  color: #ff79c6;
}
.highlight-attributes {
  color: #50fa7b;
}
